<!-- templates/navbar.html -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<nav class="navbar">
  <div class="navbar">
    <div class="logo"><a href="{% url 'home' %}">Home</a></div>
    <ul class="menu">
      {% if request.session.username %}
        <li><a href="{% url 'product' %}">Product</a></li>
      {% endif %}
      <li><a href="{% url 'about' %}">About</a></li>
      <li><a href="{% url 'contact' %}">Contact</a></li>
      {% if request.session.username %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
      {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
      {% endif %}
    </ul>
  </div>  
  </nav>
  
  